<form #f="ngForm" (ngSubmit)="changePasswordHandler(f.value)">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mb-3">
                <label for="Password" class="form-label">New password</label>
                <input #passwordInput="ngModel" type="password" name="password" class="form-control" id="Password"
                    ngModel required>
                <div *ngIf="passwordInput.touched && passwordInput.errors?.required" class="text-danger">
                    Password is required!
                </div>
            </div>
            <div class="row justify-content-center">
                <button [disabled]="!f.valid" class="btn btn-dark mx-auto">Change password</button>
            </div>
        </div>
    </div>

</form>
