<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About this recipe</h2>
      <p>{{recipe.description}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right">
        <img [src]="recipe.image" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
        <h3>{{recipe.title}}</h3>
        <p class="font-italic">
          You will need the following ingredients and time to cook the recipe.
        </p>
        <div class="row">
          <div class="col">
            <ul>
              <li> <strong>Ingredients:</strong> {{recipe.products}}</li>
              <li> <strong>Preperation time:</strong> {{recipe.prepTime}} Minutes</li>
              <li> <strong>Cooking time:</strong> {{recipe.cookTime}} Minutes</li>
            </ul>
          </div>
        </div>
        <p>
          {{recipe.recipe}}
        </p>
      </div>
    </div>

  </div>
</section>